<h2 class="tableHeader" id='teamHeader'>Teams</h2>

<table class='hover-table sortable centerTable' id='teamTable'>
	<thead>
		<tr>
			<th>Name</th>
			<th>Head Coach</th>
		</tr>
	</thead>

  <tbody>
    <% @teams.each do |team| %>
      <%= content_tag(:tr, :class => "droppable", :id => team.id, :name => team.name) do %>
        <td><%= link_to team.name, team %></td>
        <td><%= team.getHeadCoachName %></td>
      <% end %>
    <% end %>
  </tbody>
</table>








