<h3><%= @team_name %></h3>
<table id='mainTable'>
  <tr id='mainRow'>
    <td id='playersColumn'>
      <%= render 'players/player_table' %>
      <br>
    </td>
    <td>
      <%= render 'coaches/coaches_table' %>
      <br>
    </td>
  </tr>
  <tr>
      <%= render 'games/game_table' %>
  </tr>
</table>


