<h3><%= @team_name %></h3>
    <tr id='playersColumn'>
      <%= render 'players/player_table' %>
      <br>
    </tr>
    <tr id='playersColumn'>
      <%= render 'coaches/coaches_table' %>
      <br>
    </tr>
  <tr>
      <%= render 'games/game_table' %>
  </tr>


