<h3><%= @team_name %></h3>

    <style media="screen" type="text/css">
     
      .hidden{
        display: table-cell;
      }
    
    </style>

    <tr id='playersColumn'>
      <%= render 'players/player_table' %>
      <br>
    </tr>
    <tr id='playersColumn'>
      <%= render 'coaches/coaches_table' %>
      <br>
    </tr>
  <tr>
      <%= render 'games/game_table' %>
  </tr>


