<h3>FOOTBALL MANAGER</h3>

<%= link_to "Players", players_path, id: 'players_id'%>

<%= form_tag(players_path, method: 'get') do %>
  <%= text_field_tag :search, nil, placeholder: "Search by name or team number", id: 'search'  %>
<% end %>
