<script>
    $('.button').addClass('animated shake');
</script>
<p id="notice"><%= notice %></p>

 <%= render 'games/game_table' %>

<div class='centered verticalSpace'>
<%= link_to 'New Game', new_game_path, class: 'button visited', name: 'New Game' %>
</div>
