<h2>Coaches List</h2>

<table class='hover-table sortable' align='center'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coaches.each do |coach| %>
      <tr>
        <td><%= link_to coach.name, coach %></td>
        <td><%= link_to coach.team.name, coach.team %></td>
        <td><%= coach.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

