
<h2 class='tableHeader' id='playerHeader'>Players</h2>

<table class='hover-table sortable centerTable' id='playerTable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Number</th>
      <th>Age</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <%= render '/players/player_row' , :player => player %>
    <% end %>
  </tbody>
</table>


