body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  background-color: red;
  display: table;

}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


@-webkit-keyframes rainbow {
  from { color: #ff0000; -webkit-box-shadow: 0 0 9px #ff0000; }
  33% { color: #00ff00; -webkit-box-shadow: 0 0 9px #00ff00; }
  66% { color: #0000ff; -webkit-box-shadow: 0 0 9px #0000ff; }
  to { color: #ff0000; -webkit-box-shadow: 0 0 9px #ff0000; }
}

@-webkit-keyframes rainbow-shadow-only {
  from { -webkit-box-shadow: 0 0 9px #ff0000; }
  33% { -webkit-box-shadow: 0 0 9px #00ff00; }
  66% { -webkit-box-shadow: 0 0 9px #0000ff; }
  to { -webkit-box-shadow: 0 0 9px #ff0000; }
}

.rainbow{
  -webkit-animation-name: rainbow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.rainbow-shadow-only{
  -webkit-animation-name: rainbow-shadow-only;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

