<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

  <style media="screen" type="text/css">

  .handle{
    display: inline;
  }

  </style>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <script>
  $(function() {
    $('.draggable').addClass('animated tada');
    $( ".draggable" ).draggable({ revert: true, helper: "clone", cursorAt: { top: 15, left: 25 }, handle: "span",
         start: function(e, ui)
          {
            $(ui.helper).addClass("ui-draggable-helper");
          }
    });
    $('.droppable').addClass('animated pulse');
    $( ".droppable" ).droppable({ tolerance: "pointer",

      over: function(event, ui) {
        $(this).css("background-color", "skyblue");
      },
      out: function(event, ui) {
        $(this).css("background-color", "#FFFFFF");
      },
      drop: function( event, ui ) {
        $.ajax({
          url: '/transfer',
          type: 'post',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},

          data: {
            player_id: $(ui.draggable).attr("id"),
            team_id: $(this).attr("id"),
          },
          success: function(responseText, statusText, xhr, $form) {
            console.log("It hits success");
          },
          error: function(responseText, statusText, xhr) {
            console.log("It hits failure");
          }
        });
      location.reload();
      }
    });
  });
  </script>

<h3>Transfer Players</h3>
<table id='mainTable'>
  <tr id='mainRow'>
    <td id='playersColumn'>
      <%= render 'players/player_table' %>
      <div class='instruction centered verticalSpace'  >
        To transfer a player, drag their
        <span class='handle' style='margin-right: 0px; padding-left:2px; padding-right:2px'>handle</span>
        to a row in the teams list
      </div>
    </td>
    <td>
      <%= render 'teams/team_table' %>
    </td>
  </tr>
</table>
