<h2>Transfer Players</h2>
<table id='mainTable'>
  <tr id='mainRow'>
    <td id='playersColumn'>
      <%= render 'players/player_table' %>
    </td>
    <td>
      <%= render 'teams/team_table' %>
    </td>
  </tr>
</table>